/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

$roboto-font: Roboto, sans-serif;
$rw-font: Raleway, sans-serif;
/* /FONTS */

/* COLOR */
$pure-white: #FFFFFF;
$light-title: #ECF1F0;
$light-subtitle: #B6B6B6;
$black-title: #2B2B2B;
$primary-color: #0FAE96;
$secondary-color: #511281;
$main-bg: #11011E;
$card-bg: #fff;
/* /COLOR */

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $rw-font;
}

.content-container {
  max-width: 1260px;
  margin: 0 auto;
}

.button {
  padding: 16px 30px;
  font-size: 16px;
  font-weight: 600;
  color: $pure-white;
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  background-color: $main-bg;
}

.items {
  display: flex;
  justify-content: space-between;
}
/* /COMMON */

/* HEADER */
.header__section {
  background-image: url("img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 120px;

  &__container {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $pure-white;
    & > span {
      color: $primary-color;
    }
  }
  &__login {
    display: flex;
    align-items: center;
  }
  &__lang {
    margin-left: 12px;
    color: $light-subtitle;
    border: none;
    background-color: $main-bg;
  }
  &__button {
    margin-left: 27px;
  }
}
.navbar {
  display: flex;
  list-style: none;
  &__link {
    font-size: 16px;
    font-weight: 500;
    color: $light-title;
    text-decoration: none;
    transition: .2s;
    &:hover {
      color: $primary-color;
    }
  }
  &__item + &__item {
    margin-left: 40px;
  }
}

/* /HEADER */

/* TITLE */
.title {
    display: flex;
    margin-bottom: 135px;
    justify-content: center;
    align-items: center;

  &__container {
    text-align: center;
  }
  &__text {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: $light-title;
  }
  &__paragraph {
    margin-bottom: 50px;
    font-family: $roboto-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: $light-subtitle;
  }
}
/* /TITLE */

/* MARKET-TREND */
.market-trend {
  color: $light-title;
  &__title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
  }
}

.item {
  max-width: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 18px;

  &__description {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(236, 241, 240, 0.05);
    padding-bottom: 15px;
  }
  &__shortname {
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
  }
  &__name {
    padding: 5px;
    margin-left: 15px;
    font-family: $rw-font;
    font-size: 10px;
    font-weight: 600;
    color: #1D1429;
    background-color: #C6C6C6;
    border-radius: 5px;
  }
  &__link {
    width: 50px;
    height: 50px;
    margin-left: 45px;
    background-image: url("/img/see-more.png");
  }
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__price-wrapper {
    display: flex;
    flex-direction: column;
    & > span {
      font-family: $roboto-font;
      font-weight: 500;
    }
  }
  &__current-price {
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__percent {
    font-size: 18px;
    color: $light-subtitle;
  }
}
/* /MARKET-TREND */

/* FEATURE */
.feature {
  &__section {
    padding: 50px 0 50px 0;
    background-image: url("img/bg-features.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30vh;

  }
  &__container {
    text-align: center;
  }
  &__paragraph {
    margin-bottom: 75px;
  }
  &__items {
    margin-bottom: 125px;
    text-align: left;
  }
  &__item {
    padding: 30px;
  }
  &__card-image {
    margin-bottom: 25px;
  }
  &__card-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: $light-title;
  }
  &__card-text {
    margin-bottom: 40px;
    font-family: $roboto-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $light-subtitle;
  }
  &__card-link {
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
    text-decoration: none;
    &:after {
      width: 10px;
      height: 10px;
      margin-left: 10px;
      color: $primary-color;
      content: '➜';
    }
  }
}

.crypto {
  display: flex;
  padding: 20px 60px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  &__text {
    max-width: 450px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: $light-title;
  }
  &__subtitle {
    margin-bottom: 0;
    line-height: 28px;
  }
}
/* /FEATURE */

/* MARKET */
  .market {
    padding: 120px 0;
    &__title {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: bold;
      color: $light-title;
    }
  }

  .categories {
    &__title {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 500;
      font-family: $roboto-font;
      color: $light-subtitle;
    }
    &__controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    &__button {
      padding: 10px 12px;
      color: $light-subtitle;
      background-color: #1D0E29;
      border: 1px solid #FFFFFF0D;
      border-radius: 6px;
      cursor: pointer;
    }
    &__button_active {
      font-family: $roboto-font;
      font-weight: 500;
      color: #211631;
      background-color: #EAEAEA;
    }
    &__button + &__button {
      margin-left: 12px;
    }
    &__link {
      font-size: 16px;
      font-weight: 500;
      color: $primary-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #160C24;
    border: 1px solid #FFFFFF1A;
    border-radius: 6px;
    &__icon {
      margin-right: 15px;
    }
    &__input {
      font-size: 16px;
      font-weight: 500;
      font-family: $roboto-font;
      background: none;
      border: none;
      color: $light-subtitle;
      &:focus {
        outline: none;
      }
    }
  }
  .table {
    width: 100%;
    margin-bottom: 40px;
    font-family: $roboto-font;
    text-align: left;
    font-weight: 500;
    color: $light-subtitle;
    background-color: #160C24;
    border: 1px solid #FFFFFF0D;
    border-radius: 4px;
    table-layout: fixed;
    border-collapse: collapse;
    &__button {
      padding: 5px 25px;
      font-family: Raleway, sans-serif;
      font-weight: 600;
    }
    &__coin {
      margin-left: 22px;
      padding-right: 22px;
      font-size: 16px;
      font-weight: 400;
      border-right: 1px solid #403A3A;
    }
    &__short-coin {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 500;
    }
    &__price_red {
      color: #AE0000;
    }
  }

  thead th:nth-child(1) {
    padding: 20px;
    width: 8%;
  }
  thead th:nth-child(2) {
    width: 36%;
  }
  thead th:nth-child(3) {
    width: 15%;
  }
  thead th:nth-child(4) {
    width: 13%;
  }
  thead th:nth-child(5) {
    width: 17%;
  }
  thead th:nth-child(6) {
    width: 11%;
  }

  tbody tr,
  thead tr {
    border-bottom: 1px solid #FFFFFF0D;
  }

  tbody td:nth-child(1) {
    padding: 20px;
    vertical-align: center;
  }
  tbody td img {
    vertical-align: middle;
  }
  tbody td {
    padding: 10px 0;
    height: 62px;
  }
/* /MARKET */

/* STARTED */
 .started {
   background-image: url("img/bg-get-started.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: -100px;
   &__container {
     display: flex;
     justify-content: space-between;
     padding-top: 200px;
   }
   &__title {
     margin-bottom: 30px;
     font-size: 36px;
     font-weight: 700;
     color: $light-title;
   }
   &__subtitle {
     margin-bottom: 50px;
     font-family: $roboto-font;
     font-size: 18px;
     font-weight: 400;
     color: $light-subtitle;
   }
 }
 .card {
   display: flex;
   max-width: 530px;
   padding: 20px 60px 20px 20px;
   margin-bottom: 25px;
   background-color: #170623;
   border: 1px solid #FFFFFF0D;
   border-radius: 15px;
   &__title {
     margin-bottom: 10px;
     font-size: 20px;
     font-weight: 600;
     color: $light-title;
   }
   &__subtitle {
     font-family: $roboto-font;
     font-size: 16px;
     line-height: 24px;
     color: $light-subtitle;
   }
   &__description {
     margin-left: 20px;
   }
 }
/* /STARTED */

/* ABOUT */
.about {
  padding-top: 10px;
  &__title {
    text-align: center;
  }
  &__subtitle {
    text-align: center;
  }
}
.news {
  display: flex;
  margin: -30px;
  justify-content: space-around;
  flex-wrap: wrap;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  }
  &__description {
    font-family: $roboto-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $light-subtitle;
  }
  &__title {
    margin-bottom: 13px;
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
  }
  &__item + &__item {
    margin-left: 20px;
  }
  &__item {
    position: relative;
    display: flex;
    padding: 0 20px 35px 20px;
    margin-bottom: 20px;
    height: 391px;
    flex: 1 1 315px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #160622;
    border-radius: 18px;
    &:nth-child(4) {
      margin: 0;
    }
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 2 1 650px;
      padding: 0 37px 30px 37px;
      background-image: linear-gradient(0deg, rgba(38, 1, 68, 0.75), rgba(38, 1, 68, 0.75)), url("./img/bg-post-1.png");
      background-size: cover;
      background-position: center;
      background-color: red;
      & > .news__title {
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 44px;
      }
      & > .news__subject {
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.07);
      }
    }
  }
}

.subject {
  width: fit-content;
  padding: 6px 6px;
  margin-bottom: 13px;
  font-family: $roboto-font;
  font-size: 12px;
  font-weight: 500;
  color: $light-subtitle;
  background-color: #261832;
  border-radius: 4px;
}
/* /ABOUT */

/* FOOTER */
.footer {
  padding: 60px 0;
  background-color: #11011E;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-bottom: 65px;
  }
  &__rights {
    font-family: $roboto-font;
    font-size: 16px;
    color: $light-subtitle;
  }
  &__column-title {
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $light-title;
  }
  &__link {
    margin-bottom: 20px;
    font-family: $roboto-font;
    font-size: 16px;
    color: $light-subtitle;
  }
}
.social {
  display: flex;
  max-width: 132px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* /FOOTER */

