/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

$font-small: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-big: 700;

/* /FONTS */

/* COLOR */
// Font
$pure-white: #FFFFFF;
$light-title: #ECF1F0;
$light-subtitle: #B6B6B6;
$black-title: #2B2B2B;
// High Fidelity Color
$primary-color: #0FAE96;
$secondary-color: #511281;
$main-bg: #11011E;
$card-bg: #fff;
/* /COLOR */

/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
$bg-color: #11011E;

.content-container {
  max-width: 1260px;
  margin: 0 auto;
}

.button {
  padding: 16px 30px;
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  font-weight: $font-semi-bold;
  font-size: 16px;
  color: $pure-white;
  cursor: pointer;
}

.section {
  background-color: $bg-color;
  min-height: 100vh;
}

.items {
  display: flex;
  justify-content: space-between;
}
/* /COMMON */

/* HEADER */
.header__section {
  background-image: url("img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-bottom: 120px;
  &__container {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-weight: $font-big;
    font-size: 24px;
    color: $pure-white;
    & > span {
      color: $primary-color;
    }
  }
  &__login {
    display: flex;
    align-items: center;
  }
  &__lang {
    margin-left: 12px;
    color: $light-subtitle;
    border: none;
    background-color: $bg-color;
  }
  &__button {
    margin-left: 27px;
  }
}
.navbar {
  display: flex;
  list-style: none;
  &__link {
    color: $light-title;
    font-weight: $font-medium;
    font-size: 16px;
    text-decoration: none;
    transition: .2s;
    &:hover {
      color: $primary-color;
    }
  }
  &__item + &__item {
    margin-left: 40px;
  }
}

/* /HEADER */

/* TITLE */
.title {
  display: flex;
  margin-bottom: 135px;
  justify-content: center;
  align-items: center;
  &__container {
  text-align: center;
  }
  &__text {
    font-size: 36px;
    font-weight: $font-big;
    color: $light-title;
    margin-bottom: 30px;
  }
  &__paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: $font-small;
    font-size: 18px;
    color: $light-subtitle;
    margin-bottom: 50px;
    line-height: 160%;
  }
}
/* /TITLE */

/* MARKET-TREND */
.market-trend {
  color: $light-title;
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.item {
  max-width: 300px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  padding: 20px;

  &__description {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(236, 241, 240, 0.05);
    padding-bottom: 15px;
  }
  &__shortname {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
  }
  &__name {
    font-family: 'Raleway', sans-serif;
    margin-left: 15px;
    color: #1D1429;
    padding: 5px;
    background-color: #C6C6C6;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
  }
  &__link {
    width: 50px;
    height: 50px;
    background-image: url("/img/see-more.png");
    margin-left: 45px;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__price-wrapper {
    display: flex;
    flex-direction: column;
    & > span {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
  }
  &__current-price {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__percent {
    font-size: 18px;
    color: $light-subtitle;
  }
  &__price-diagrams {
  }
}
/* /MARKET-TREND */

/* FEATURE */
.feature {
  &__section {
    padding: 50px 0 50px 0;
    background-image: url("img/bg-features.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30vh;

  }
  &__container {
    text-align: center;
  }
  &__paragraph {
    margin-bottom: 75px;
  }
  &__items {
    text-align: left;
    margin-bottom: 125px;
  }
  &__item {
    padding: 30px;
  }
  &__card-image {
    margin-bottom: 25px;
  }
  &__card-title {
    font-weight: 600;
    font-size: 20px;
    color: $light-title;
    margin-bottom: 12px;
  }
  &__card-text {
    font-size: 16px;
    color: $light-subtitle;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-bottom: 40px;
    font-weight: 400;
  }
  &__card-link {
    text-decoration: none;
    color: $primary-color;
    font-weight: 500;
    font-size: 16px;
    &:after {
      content: '➜';
      width: 10px;
      height: 10px;
      color: $primary-color;
      margin-left: 10px;
    }
  }
}

.crypto {
  display: flex;
  padding: 20px 60px;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  &__text {
    max-width: 450px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    color: $light-title;
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 0;
    line-height: 28px;
  }
  &__button {

  }
}
/* /FEATURE */

/* MARKET */
  .market {
    padding: 120px 0;
    &__title {
      font-weight: bold;
      font-size: 36px;
      color: $light-title;
      margin-bottom: 30px;
    }
  }

  .categories {
    &__title {
      font-family: Roboto, sans-serif;
      color: $light-subtitle;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__controls {
      display: flex;
      justify-content: space-between;
    }
    &__buttons {}
    &__button {
      padding: 10px 12px;
      border: 1px solid #FFFFFF0D;
      border-radius: 6px;
      background-color: #1D0E29;
      color: $light-subtitle;
    }
    &__button_active {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color: #211631;
      background-color: #EAEAEA;
    }
    &__button + &__button {
      margin-left: 12px;
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #FFFFFF1A;
    background-color: #160C24;
    border-radius: 6px;
    &__icon {
      margin-right: 15px;
    }
    &__input {
      background: none;
      border: none;
      color: $light-subtitle;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
  }
/* /MARKET */