/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
/* /FONTS */
/* COLOR */
/* /COLOR */
/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.content-container {
  max-width: 1260px;
  margin: 0 auto;
}

.button {
  padding: 13px 30px;
  background-color: #0FAE96;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.section {
  background-color: #11011E;
  background-image: url("img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* /COMMON */
/* HEADER */
.header {
  margin-bottom: 120px;
}
.header__container {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.header__title > span {
  color: #0FAE96;
}
.header__login {
  display: flex;
  align-items: center;
}
.header__lang {
  margin-left: 12px;
  color: #B6B6B6;
  border: none;
  background-color: #11011E;
}
.header__button {
  margin-left: 27px;
}

.navbar {
  display: flex;
  list-style: none;
}
.navbar__link {
  color: #ECF1F0;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}
.navbar__link:hover {
  color: #0FAE96;
}
.navbar__item + .navbar__item {
  margin-left: 40px;
}

/* /HEADER */
/* TITLE */
.title {
  display: flex;
  margin-bottom: 135px;
  justify-content: center;
  align-items: center;
}
.title__container {
  text-align: center;
}
.title__text {
  font-size: 36px;
  font-weight: 700;
  color: #ECF1F0;
  margin-bottom: 30px;
}
.title__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #B6B6B6;
  margin-bottom: 50px;
  line-height: 160%;
}

/* /TITLE */
/* MARKET-TREND */
.market-trend {
  color: #ECF1F0;
}
.market-trend__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.market-trend__items {
  display: flex;
  justify-content: space-between;
}

.item {
  max-width: 300px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  padding: 20px;
}
.item__description {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(236, 241, 240, 0.05);
  padding-bottom: 15px;
}
.item__shortname {
  font-weight: 600;
  font-size: 18px;
  margin-left: 15px;
}
.item__name {
  font-family: "Raleway", sans-serif;
  margin-left: 15px;
  color: #1D1429;
  padding: 5px;
  background-color: #C6C6C6;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
}
.item__link {
  width: 50px;
  height: 50px;
  background-image: url("/img/see-more.png");
  margin-left: 45px;
}
.item__price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.item__price-wrapper {
  display: flex;
  flex-direction: column;
}
.item__price-wrapper > span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.item__current-price {
  font-size: 24px;
  margin-bottom: 10px;
}
.item__percent {
  font-size: 18px;
  color: #B6B6B6;
}
/* /MARKET-TREND */

/*# sourceMappingURL=main.css.map */
